.slider{
  margin-top: 12px;
  margin-bottom: 22px;
}

.slider .slides li{
  background-color: #fff9c4;
}

.slider .slides li img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.introduction{
  padding: 15px;
  background-color: #ede7f6;
  line-height: 25px;
  margin: 10px;
  color:#424242;
}

.circle{
  width: 50%;
  height: 100%;
}

.bottomShow{
  margin-top: 50px;
  margin-bottom: 50px;
}

.techContent{
  display: none;
  padding: 15px;
  /*height: 500px;*/
}

.techContent img{
  width: 60%;
}

.foodContent{
  display: none;
  padding: 15px;
}

.horizontal{
  padding: 0px;
}

div.card-image.col.s12{
  padding: 0px;
}

.card-stacked h1{
  text-align: center;
  color: #616161;
}

.pagination li.active{
  background-color: #ffb300;
}





