.adjust {
	margin-right: auto;
}

.center_adjust {
	text-align: center;
}

.searchbar-input input {
	width: 100%;
}

.login {
	margin: auto;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: green;
}

.register {
	color: red;
}

body.with-panel-left-cover .statusbar-overlay {
    background-color: #333;
}

div[class*="col-"] {
	background-color: #eee;
	text-align: center;
	color: #000;
	border: 1px solid #ddd;
	padding: 5px;
}

.content-block-title {
	font-size: 20px;
	color: green;
	font-family: 微软雅黑;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.content-block-inner p {
	font-size: 16px;
	font-weight: bold;
	font-family: 微软雅黑;
}

.about-page {
	padding-top: 10px !important;
}